<div class="ps-section--features-product ps-section masonry-root pt-10 pb-10">
    <div class="ps-container">
        <div class="ps-section__header" style="display: flex;">
          <h3 class="ps-section__title" data-mask="mobiles">- mobiles</h3>
          <a href="/store/mobile" class="viewNext">View&nbsp;More</a>
        </div>
      <div class="ps-owl--colection owl-slider" data-owl-auto="false" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="4" data-owl-item-lg="5" data-owl-duration="1000" data-owl-mousedrag="on">
        <%for(let i = 0; i < 6; i++ ){ %>
          <div class="ps-shoes--carousel">
            <div class="ps-shoe">
              <div class="ps-shoe__thumbnail">
                <img src="../<%=product[i].image  %>" alt=" <%= product[i].name%> "><a class="ps-shoe__overlay" href="/product/<%= product[i].id %>"></a>
              </div>
              <div class="ps-shoe__content">
                <div class="ps-shoe__detail"><a class="ps-shoe__name changeFontWhenMobile" href="/store/<%= product[i].id %>"> <%= product[i].name %> </a>
                  <p class="ps-shoe__categories"><a href="/store/<%=product[i].class %>"><%= product[i].class %></a>,<a href="store/<%=product[i].class%>/<%=product[i].brand%>"> <%= product[i].brand %></a></p><span class="ps-shoe__price">  &#8377;  <%= product[i].price %> </span>
                </div>

                <div class="row action-buttons">
                  <div class="col-xs-6"><a class="btn btn-primary favorite-action" href="/dashboard/wishlist/add/<%=product[i].id%>"><i class="fa fa-heart"></i></a></div>
                  <div class="col-xs-6"><a class="btn btn-primary add-to-cart-action" href="/cart/add/<%=product[i].id%>"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
</div>