<div class="ps-section--features-product ps-section masonry-root pt-40 pb-80">
    <div class="ps-container">
      <div class="ps-section__header">
        <h3 class="ps-section__title" data-mask="recomended">- recomended</h3>
      </div>
      <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
        <% product.forEach( function ( pro ){ %>
          <div class="ps-shoes--carousel">
            <div class="ps-shoe">
              <div class="ps-shoe__thumbnail">
                <a class="ps-shoe__favorite" href="/dashboard/wishlist/add/<%= pro.id %>"><i class="ps-icon-heart"></i></a><img src="../<%= pro.image %>" alt="<%= pro.name %>"><a class="ps-shoe__overlay" href="/product/<%= pro.id %>"></a>
              </div>
              <div class="ps-shoe__content">
                <div class="ps-shoe__detail"><a class="ps-shoe__name" href="/store/<%= pro.id %>"> <%= pro.name %> </a>
                  <p class="ps-shoe__categories"><a href="/store/<%= pro.class %>"><%= pro.class %></a>,<a href="/store/<%= pro.class %>/<= pro.brand %>"> <%= pro.brand %></a></p><span class="ps-shoe__price">  &#8377;  <%= pro.price %> </span>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
</div>