<div class="ps-section--features-product ps-section masonry-root pt-40 pb-80">
  <div class="ps-container">
    <form action="/store/mobiles">
      <div class="ps-section__header mb-50" style="display: flex;">
        <h3 class="ps-section__title" data-mask="POPULAR">- Top Sellers</h3>
        <button class="ps-btn" style="width: 150px; height: 50px; font-size: 15px;">View&nbsp;More<i class="ps-icon-next"></i></button>
      </div>
    </form>
    <div class="ps-section__content pb-40">
      <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
        <div class="ps-masonry">
          <div class="grid-sizer"></div>
          <%for(let i = 0; i < 4; i++ ){ %>
            <div class="grid-item kids">
              <div class="grid-item__content-wrapper">
                <div class="ps-shoe mb-30">
                  <div class="ps-shoe__thumbnail">
                    <a class="ps-shoe__favorite" href="/addtowishlist/<%= popular[i].id %>"><i class="ps-icon-heart"></i></a><img src="../<%= popular[i].image %>" alt=" <%= popular[i].image %> "><a class="ps-shoe__overlay" href="product/<%= popular[i].id %>"></a>
                  </div>
                  <div class="ps-shoe__content">
                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#"> <%= popular[i].name %> </a>
                      <p class="ps-shoe__categories"><a href="#"><%= popular[i].class %></a>,<a href="#"> <%= popular[i].brand %></a></p><span class="ps-shoe__price">  &#8377;  <%= popular[i].price %> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         <% } %>
        </div>
      </div>
    </div>
  </div>
</div>