<%- include('./partials/_dashboard_nav') %>

<%- include('./partials/_mobile_nav') %>
<main class="ps-main">
    <div class="ps-container">
      <%- include ('./partials/_error_messages') %>
        <div class="ps-section__content dashboard">
            <div class="row">
                <div class="col-xs-4 col-sm-6 dashboard-name-container">
                    <h2 class="dashboard-user-initials"> <%= initial %> </h2>
                    <p class="dashboard-user-name"> <%= name %> </p>
                </div>
                <div class="col-xs-8 col-sm-6 dashboard-info-container">
                  <p><i class="fa fa-envelope-o"></i> <%= email %> </p>
                  <p><i class="fa fa-phone"></i> <%= pno%> </p>
                  <p><i class="fa fa-map-marker"></i> <%= address %>, <%= pin %>  &nbsp;&nbsp;&nbsp;&nbsp; </p> 
                </div>
                <div class="col-xs-12">
                  <h2 class="ps-section__title" data-mask="wishlist">- Wishlisted Items</h2>
                  <a href="/dashboard/wishlist">View&nbsp;More</a>
                  <% if(wishlist.length != 0){ %>
                    <div class="ps-owl--colection owl-slider" data-owl-auto="false" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
                      <% wishlist.forEach(item => { %>
                      <div class="ps-shoes--carousel">
                        <div class="ps-shoe">
                          <div class="ps-shoe__thumbnail">
                            <a class="ps-shoe__favorite" href="/dashboard/wishist/add/<%= item.product_id %>"><i class="ps-icon-heart"></i></a><img src="../../../<%= item.image %>" alt=" <%= item.name  %> "><a class="ps-shoe__overlay" href="/product/<%= item.product_id %>"></a>
                          </div>
                          <div class="ps-shoe__content">
                            <div class="ps-shoe__detail"><a class="ps-shoe__name" href="/product/<%= item.product_id %>"> <%= item.name %> </a>
                              <p class="ps-shoe__categories"><a href="/product/<%= item.class %>"><%= item.class %></a>,<a href="/product/<%= item.class %>/<%= item.brnad %>"> <%= item.brand %></a></p><span class="ps-shoe__price">  &#8377;  <%= item.price %> </span>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% }) %>
                  </div>
                  <%}else{ %>
                    <p style="padding: 35px 0; font-size: 20px; text-align: center;"> Your wishlist is empty. </p>
                 <% } %>
                </div>
                <div class="col-xs-12">
                    <h2 class="ps-section__title" data-mask="previous buys">- Previously Perchased items</h2>
                    <a href="/dashboard/orders">View&nbsp;More</a>
                    <% if(previousBuys.length != 0){ %>
                      <div class="ps-owl--colection owl-slider" data-owl-auto="false" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
                        <% previousBuys.forEach(item => { %>
                        <div class="ps-shoes--carousel">
                          <div class="ps-shoe">
                            <div class="ps-shoe__thumbnail">
                              <a class="ps-shoe__favorite" href="/dashboard/wishlist/add/<%= item.id %>"><i class="ps-icon-heart"></i></a><img src="../../<%=item.image  %>" alt=" <%= item.name  %> "><a class="ps-shoe__overlay" href="/product/<%= item.id %>"></a>
                            </div>
                            <div class="ps-shoe__content">
                              <div class="ps-shoe__detail"><a class="ps-shoe__name" href="/product/<%= item.id %>"> <%= item.name %> </a>
                                <p class="ps-shoe__categories"><a href="/product/<%= item.class %>"><%= item.class %></a>,<a href="/product/<%= item.class %>/<%= item.brand %>"> <%= item.brand %></a></p><span class="ps-shoe__price">  &#8377;  <%= item.price %> </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% }) %>
                    </div>
                    <% }else{ %>
                      <p style="padding: 35px 0; font-size: 20px; text-align: center;"> You haven't bought  anything yet.</p>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('./partials/_footer') %>