<%- include('./partials/_navbar') %>


    <main class="ps-main">
        <div class="row">
        <div class="ps-products-wrap pt-80 pb-80 col-sm-9">
          
    
      <!--<div id="contact-map" data-address="New York, NY" data-title="Sky Store!" data-zoom="17"></div> -->
       

   

<%- include('./partials/_pagination') %>


            <div class="ps-product__columns">
              
                    <!-- display all the products here -->

        <% inventories.forEach(function (inventory) { %>
          <a href="/<%= inventory.id %>">  <div class="ps-product__column">
                <div class="ps-shoe mb-30">
                    <div class="ps-shoe__thumbnail">
                        <a class="ps-shoe__favorite" href="/addtowishlist/<%= inventory.id %>"><i class="ps-icon-heart"></i></a><img src="<%= inventory.image %>" alt="<%= inventory.image %> "><a class="ps-shoe__overlay" href="/<%= inventory.id %>"></a>
                    </div>
                     <div class="ps-shoe__content">
                        <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">    <%= inventory.name %>  </a>
                            <p class="ps-shoe__categories">  <%= inventory.brnad %>  </p><span class="ps-shoe__price">
                            <%= inventory.price %> </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <% }) %> 

        <%- include('./partials/_pagination') %>
                </div>
            </div>

            <%- include('./partials/_sort_sidebar') %>
        </div>
    </div>

  


 
</div>
</main>


<%- include('./partials/_footer') %>