<%- include('./partials/_dashboard_nav') %>

<%- include('partials/_mobile_nav') %>

<main class="ps-main">
    <div class="container">
        <div class="ps-section__content pt-20">
            <div class="masonry-wrapper" data-col-md="3" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
                <div class="ps-masonry">
                    <% user.wishlist.forEach((item) => {  %>
                        <a href="/<%= item.product_id %>">
                            <div class="grid-sizer"></div>
                            <div class="grid-item kids">
                                <div class="grid-item__content-wrapper row">
                                    <div class="ps-shoe mb-10">
                                        <div class="ps-shoe__thumbnail col-xs-5">
                                            <img src="../../<%= item.image %>" alt="<%= item.name %> "><a class="ps-shoe__overlay" href="/product/<%= item.product_id %>"></a>
                                        </div>
                                        <div class="ps-shoe__content col-xs-7" style="width: 160px; position: static; padding: 0;">
                                            <div class="ps-shoe__detail"><a class="ps-shoe__name" href="/product/<%= item.product_id %>">    <%= item.name %>  </a>
                                                <p class="ps-shoe__categories">  <%= item.brand %>  </p><span class="ps-shoe__price">
                                                    &#8377; <%= item.price %> </span>

                                                    <a class="btn btn-primary favorite-action" href="/dashboard/wishlist/remove/<%= item.product_id %>"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include ('./partials/_footer') %>