<%- include('_navbar') %>

<div class="ps-contact ps-section pb-80">
    <div class="ps-container" style="margin: 0 auto;">
        <form class="ps-contact__form" action="/add/products" method="get">
            <div class="form-group">
                <button class="ps-btn">Add Product<i class="ps-icon-next"></i></button>
            </div>
        </form>
        <div class="ps-cart-listing ps-table--whishlist">
            <table class="table ps-cart__table">
                <thead>
                    <tr>
                    <th> Class - Name - Brand</th>
                    <th>Price</th>
                    <th>  </th>
                    <th>  </th>
                    </tr>
                </thead>
                <tbody>
                    <% inventories.forEach((inventory) => {  %>
                        <tr>
                            <td><%= inventory.class %> - <%= inventory.name %> - <%= inventory.brand %></td>
                            <td> &#8377; <%= inventory.price %></td>
                            <td><a class="ps-product-link" href="<%= inventory.id %>">Update</a></td>
                            <td>
                                <a href="/delete/<%= inventory.id %>" class="btn btn-danger"> delete </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>